In [1]:
#import all the necessary libraries

import pandas as pd
import numpy as np
import pandas as pd

# For Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To Scale our data
from sklearn.preprocessing import scale

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# To perform Hierarchical clustering
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

In [2]:
# Importing all datasets
data = pd.read_csv("C:/Users/umprasad/Desktop/ML II_ Assignment/telecom_churn_data.csv")
data.head(5)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [3]:
data.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [5]:
data['av_rech_amt_data_6'].fillna(value=0,inplace=True)
data['av_rech_amt_data_7'].fillna(value=0,inplace=True)

In [6]:
data['av_rech_amt_data_6&7'] = (data['av_rech_amt_data_6']+data['av_rech_amt_data_7'])/2

In [7]:
data['av_rech_amt_data_6&7'].head(5)

0    252.0
1     77.0
2      0.0
3      0.0
4     28.0
Name: av_rech_amt_data_6&7, dtype: float64

In [8]:
data['av_rech_amt_data_6&7'].quantile(0.7)

12.5

In [9]:
high_value_cust = data.loc[data['av_rech_amt_data_6&7'] >= 12.5]

In [10]:
high_value_cust.shape

(30378, 227)

In [11]:
high_value_cust.head(5)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,av_rech_amt_data_6&7
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,1.0,1.0,1.0,NaN,968,30.40,0.00,101.20,3.58,252.0
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,NaN,1.0,1.0,NaN,1006,0.00,0.00,0.00,0.00,77.0
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0.0,NaN,NaN,NaN,1526,0.00,0.00,0.00,0.00,28.0
8,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.00,88.5
9,7001864400,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,119.518,...,NaN,1.0,NaN,NaN,902,0.00,0.00,0.00,0.00,77.0

In [12]:
# Checking the percentage of missing values
round(100*(high_value_cust.isnull().sum()/len(high_value_cust.index)), 2)

mobile_number            0.00
circle_id                0.00
loc_og_t2o_mou           1.36
std_og_t2o_mou           1.36
loc_ic_t2o_mou           1.36
last_date_of_month_6     0.00
last_date_of_month_7     0.19
last_date_of_month_8     0.77
last_date_of_month_9     1.44
arpu_6                   0.00
arpu_7                   0.00
arpu_8                   0.00
arpu_9                   0.00
onnet_mou_6              3.51
onnet_mou_7              3.57
onnet_mou_8              5.90
onnet_mou_9              8.20
offnet_mou_6             3.51
offnet_mou_7             3.57
offnet_mou_8             5.90
offnet_mou_9             8.20
roam_ic_mou_6            3.51
roam_ic_mou_7            3.57
roam_ic_mou_8            5.90
roam_ic_mou_9            8.20
roam_og_mou_6            3.51
roam_og_mou_7            3.57
roam_og_mou_8            5.90
roam_og_mou_9            8.20
loc_og_t2t_mou_6         3.51
                        ...
night_pck_user_6        20.24
night_pck_user_7        18.73
night_pck_user_8        32.51
night_pck_user_9        37.26
monthly_2g_6             0.00
monthly_2g_7             0.00
monthly_2g_8             0.00
monthly_2g_9             0.00
sachet_2g_6              0.00
sachet_2g_7              0.00
sachet_2g_8              0.00
sachet_2g_9              0.00
monthly_3g_6             0.00
monthly_3g_7             0.00
monthly_3g_8             0.00
monthly_3g_9             0.00
sachet_3g_6              0.00
sachet_3g_7              0.00
sachet_3g_8              0.00
sachet_3g_9              0.00
fb_user_6               20.24
fb_user_7               18.73
fb_user_8               32.51
fb_user_9               37.26
aon                      0.00
aug_vbc_3g               0.00
jul_vbc_3g               0.00
jun_vbc_3g               0.00
sep_vbc_3g               0.00
av_rech_amt_data_6&7     0.00
Length: 227, dtype: float64

In [13]:
high_value_cust.drop(['circle_id',
           'loc_og_t2o_mou',
           'std_og_t2o_mou',
           'loc_ic_t2o_mou',
           'last_date_of_month_6',
           'last_date_of_month_7',
           'last_date_of_month_8',
           'last_date_of_month_9',
           'fb_user_6','fb_user_7',
           'fb_user_8','fb_user_9',
           'night_pck_user_6',
           'night_pck_user_7',
           'night_pck_user_8',
           'night_pck_user_9',
           'date_of_last_rech_data_9',
           'total_rech_data_6',
           'total_rech_data_7',
           'total_rech_data_8',
           'total_rech_data_9', 
           'max_rech_data_6',
           'max_rech_data_7', 
           'max_rech_data_8', 
           'max_rech_data_9',
           'count_rech_2g_6',
           'count_rech_2g_7',
           'count_rech_2g_8', 
           'count_rech_2g_9', 
           'count_rech_3g_6', 
           'count_rech_3g_7',
           'count_rech_3g_8', 
           'count_rech_3g_9', 
           'arpu_3g_6', 
           'arpu_3g_7',
           'arpu_3g_8',
           'arpu_3g_9', 
           'arpu_2g_6',
           'arpu_2g_7',
           'arpu_2g_8', 
           'arpu_2g_9',
           'date_of_last_rech_data_6',
           'date_of_last_rech_data_7',
           'date_of_last_rech_data_8',
           'roam_ic_mou_6',
           'roam_ic_mou_7',
           'roam_ic_mou_8',
           'roam_ic_mou_9',
           'roam_og_mou_6',
           'roam_og_mou_7',
           'roam_og_mou_8',
           'roam_og_mou_9',
           'std_og_t2c_mou_6',
           'std_og_t2c_mou_7',
           'std_og_t2c_mou_8',
           'std_og_t2c_mou_9',
           'isd_og_mou_6',
           'isd_og_mou_7',
           'isd_og_mou_8',
           'isd_og_mou_9',
           'og_others_6',
           'og_others_7',
           'og_others_8',
           'og_others_9',
           'std_ic_t2o_mou_6',
           'std_ic_t2o_mou_7',
           'std_ic_t2o_mou_8',
           'std_ic_t2o_mou_9',
           'monthly_2g_6',
           'monthly_2g_7',
           'monthly_2g_8',
           'monthly_2g_9',
           'sachet_2g_6',
           'sachet_2g_7',
           'sachet_2g_8',
           'sachet_2g_9',
           'monthly_3g_6',
           'monthly_3g_7',
           'monthly_3g_8',
           'monthly_3g_9',
           'sachet_3g_6',
           'sachet_3g_7',
           'sachet_3g_8',
           'sachet_3g_9',
           'av_rech_amt_data_6&7'], axis=1, inplace=True)

C:\Users\umprasad\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [14]:
tag_churn_data = high_value_cust[['mobile_number','total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']]

In [15]:
tag_churn_data.head(5)

   mobile_number  total_ic_mou_9  total_og_mou_9  vol_2g_mb_9  vol_3g_mb_9
0     7000842753            0.00            0.00          0.0          0.0
1     7001865778          188.04           72.11          0.0          0.0
4     7000142493          205.31          104.59          0.0          0.0
8     7001524846           34.91          142.18          0.0          0.0
9     7001864400          412.63          151.33          0.0          0.0

In [16]:
tag_churn_data['total_ic_mou_9'].fillna(value=0.00,inplace=True)
tag_churn_data['total_og_mou_9'].fillna(value=0.00,inplace=True)
tag_churn_data['vol_2g_mb_9'].fillna(value=0.0,inplace=True)
tag_churn_data['vol_3g_mb_9'].fillna(value=0.0,inplace=True)

C:\Users\umprasad\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [18]:
tag_churn_data.head(5)

   mobile_number  total_ic_mou_9  total_og_mou_9  vol_2g_mb_9  vol_3g_mb_9
0     7000842753            0.00            0.00          0.0          0.0
1     7001865778          188.04           72.11          0.0          0.0
4     7000142493          205.31          104.59          0.0          0.0
8     7001524846           34.91          142.18          0.0          0.0
9     7001864400          412.63          151.33          0.0          0.0

In [23]:
tag_churn_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30378 entries, 0 to 99998
Data columns (total 5 columns):
mobile_number     30378 non-null int64
total_ic_mou_9    30378 non-null float64
total_og_mou_9    30378 non-null float64
vol_2g_mb_9       30378 non-null float64
vol_3g_mb_9       30378 non-null float64
dtypes: float64(4), int64(1)
memory usage: 1.4 MB

In [26]:
tag_churn_data.columns

Index(['mobile_number', 'total_ic_mou_9', 'total_og_mou_9', 'vol_2g_mb_9',
       'vol_3g_mb_9'],
      dtype='object')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().